

.gallery-row {
    display: flex;
    justify-content: center;
}

.thumb-image-freebies:hover {
    transform: scale(1.5);
}

/*contact*/
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

.sqs-block-form {
    text-transform: none;
    font-size: 14px;
    font-style: normal;
  }

  .form-content {
    max-width: 650px;
    padding: 40px;
    margin: 0 auto;
  }

  h2.description {
    text-align: center;
    text-transform: none;
    line-height: 2em;
}

.form-title-wrapper {
    display: inline-flex;
    align-items: center;
  }

  .form-title {
    margin-bottom: 1.6rem;
    text-align: center;
    font-size: 22px;
    line-height: 1.2em;
    color: #2f365f;
    text-shadow: 0.1em 0.1em #0ae9bc;
  }  

.form-content,
.form-wrapper {
  color: #222;
  font-family: inherit;
}

.form-content,
.form-wrapper,
.form-title {
  font-size: 22px;
  line-height: 1.2em;
  color: #333;
}


.loaded,
.loaded2 {
  padding: 0.93%;
}

.loaded2 {
  transform: rotate(180deg);
}

.input-text-field {
    background-color: #fafafa;
    border: 1px solid #a9a9a9;
    box-sizing: border-box;
    color: #000;
    height: 46px;
    padding: 10px;
    position: relative;
    width: 100%;
  }
  
  input {
    width: 100%;
    background-color : #fff3f0;
  }
  
  textarea {
  
    background-color : #fff3f0;
  }
  
  
  
  .field.textarea {
    padding: 10px 25px 10px 30px;
    
  }
  
  #name {
    display: flex;
    flex-direction: inherit;
    padding: 0;
  }
  
  .field {
    padding: 10px 30px;
  }

  
.form-content,
.form-wrapper,
.form-title .react-form-contents {
  margin-top: 55px;
}

.form-title {
  padding: 0 6px;
}

.form-wrapper,
.field-list {
  line-height: normal; 
}

.form-button-wrapper {
  display: flex;
  justify-content: center;
}

.form-wrapper,
.react-form-contents,
.field-list,
.fields {
  margin: 0;
}

.form-wrapper,
.field-list,
.title {
  display: block;
}

.form-wrapper,
.field-list,
.field,
.caption {
  font-size: 18px;
}



.form-item {
    column-gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  fieldset {
    border: none;
  }
  
  label {
    cursor: pointer;
  }
  
  .V {
    display: inline-block;
  }
  
  .Y {
    align-items: center;
    column-gap: 1ex;
    display: flex;
    flex-wrap: wrap;
  } 

.form-wrapper .field-list .description {
    padding: .5em 0 .5em;
    font-size: 12px;
    opacity: .7;
    /*display: block;*/
    white-space: pre-wrap;
  }
  
  input {
    height: 30px;
  }
  
  label #title {
    padding-bottom: 4px;
  }
  
  .form-wrapper .react-form-contents .field-list .fields.name .field {
    width: 50%;
  }

  
/*utiliser transform ne fontionne pas sur element inline */
.button_link,
.button_link-send {
  height: auto;
  width: auto;
  display: inline-block;
  background: #2f365f;
  color: #f7f1ed;
  border: 3px solid #f7f1ed;
  padding: 18px;
  border-radius: 0.75rem;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.15s ease-out, color 0.15s ease-out,
    background-color 0.15s ease-out;
}

.button_link:hover,
.button_link-send:hover {
  transform: translate(-6px, -6px);
  color: #f7f1ed;
  background: #0ae9bc;
}

@media screen and (min-width: 320px) and (max-width: 766px) {
  .form-title {
    font-size: 17px;
  }

  .contact_form-box {
    flex-direction: column;
  }

  .contact_form-box1,
  .contact_form-box2 {
    width: 100%;
  }
}