/*--Gallerie digitale et traditionnelles--*/

video {
  cursor: pointer;
}

.gallery-row {
  display: flex;
  justify-content: center;
}

.thumb-image-freebies:hover {
  transform: scale(1.5);
}

/*--contact--*/

.html-fa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fa-flip {
  -webkit-animation-name: fa-flip;
  animation-name: fa-flip;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-delay: var(--fa-animation-delay, 0);
  animation-delay: var(--fa-animation-delay, 0);
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-direction: var(--fa-animation-direction, normal);
  animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
  animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
  animation-timing-function: var(--fa-animation-timing, ease-in-out);
  font-size: 30px;
}



.leitmotiv {
  margin: 0;
  text-align: center;
  font-size: 1.68rem;
}

.block-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

}

.green {
  color: #0ae9bc;

}

.row-margin {
  margin: 5% 0;
}

.style-text {
  text-align: center;
}

.instagram-icon-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #0ae9bc;
  font-size: 21px;
}



button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

.sqs-block-form {
  text-transform: none;
  font-size: 14px;
  font-style: normal;
}

.sqs-block-bottom {
  margin-bottom: 50px;
}

.form-content {
  max-width: 650px;
  padding: 40px;
  margin: 0 auto;
}

h2.description {
  text-align: center;
  text-transform: none;
  line-height: 2em;
}

.form-title-wrapper {
  display: flex;
  align-items: center;
  margin-left: 23px;
}

.form-title {
  margin-bottom: 1.6rem;
  text-align: center;
  font-size: 22px;
  line-height: 1.2em;
  color: #2f365f;
  text-shadow: 0.1em 0.1em #0ae9bc;
}

.form-content,
.form-wrapper {
  color: #222;
  font-family: inherit;
}

.form-content,
.form-wrapper,
.form-title {
  font-size: 22px;
  line-height: 1.2em;
  color: #333;
}


.loaded,
.loaded2 {
  padding: 0.93%;
}

.loaded2 {
  transform: rotate(180deg);
}

.input-text-field {
  background-color: #fafafa;
  border: 1px solid #a9a9a9;
  box-sizing: border-box;
  color: #000;
  height: 46px;
  padding: 10px;
  position: relative;
  width: 100%;
}

input {
  width: 100%;
  background: #f7f1edc9;
  padding: 1.1rem;
  border-radius: 0.75rem;
  border: 2px solid black;
}

.field-element {
  border-radius: 8px;
}

textarea {
  background: #f7f1edc9;
  padding: 1.1rem;
  border-radius: 0.75rem;
  border: 2px solid black;
  width: 100%;
}



.field.textarea {
  padding: 10px 25px 10px 30px;

}

.field-element::placeholder {
  color: #a9a9a9 !important;
}

#name {
  display: flex;
  flex-direction: inherit;
  padding: 0;
}

.field {
  padding: 10px 30px;
}


.form-content,
.form-wrapper,
.form-title .react-form-contents {
  margin-top: 55px;
  left: 1.25rem;
  padding: 0.25rem;
}

.form-title {
  padding: 0 6px;
}

.form-wrapper,
.field-list {
  line-height: normal;
}

.form-button-wrapper {
  display: flex;
  justify-content: center;
}

.form-wrapper,
.react-form-contents,
.field-list,
.fields {
  margin: 0;
}

.form-wrapper,
.field-list,
.title {
  display: block;
}

.form-wrapper,
.field-list,
.field,
.caption-text {
  font-size: 20px;
  padding-bottom: 10px;
}

.form-item {
  column-gap: 10px;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

label {
  cursor: pointer;
}


.form-wrapper .field-list .description {
  padding: .5em 0 .5em;
  font-size: 12px;
  opacity: .7;
  /*display: block;*/
  white-space: pre-wrap;
}

input {
  height: 30px;
}

label #title {
  padding-bottom: 4px;
}

.form-wrapper .react-form-contents .field-list .fields.name .field {
  width: 50%;
}






/*utiliser transform ne fontionne pas sur element inline */
.button_link {
  display: inline-block;
  text-align: center;
  background-color: #2f365f;
  border-radius: 0.75rem;
  text-decoration: none;
  cursor: pointer;
  margin-left: 42%;
  margin-top: 2%;
}

.button_link-send {
  width: 147px;
  height: auto;
}

.button_link .button_link-send {
  display: inline-block;
  background: #2f365f;
  color: #f7f1ed;
  border: 3px solid #f7f1ed;
  padding: 18px;
  border-radius: 0.75rem;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.15s ease-out, color 0.15s ease-out, background-color 0.15s ease-out;
}

.button_link:hover .button_link-send {
  transform: translate(-6px, -6px);
  color: #f7f1ed;
  background: #0ae9bc;
}




@media screen and (min-width: 320px) and (max-width: 766px) {
  .form-title {
    font-size: 17px;
  }

  .contact_form-box {
    flex-direction: column;
  }

  .contact_form-box1,
  .contact_form-box2 {
    width: 100%;
  }
}



a span {
  position: absolute;
  color: black;
  background: white;
  padding: 15px;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
  margin-top: 23px;
  margin-left: -35px;
  transform: scale(0) rotate(-12deg);
  opacity: 0;
  transition: all .25s;
  right: 6px;
}


a:hover span,
a:focus span {
  transform: scale(1) rotate(0);
  opacity: 1;
}



.wrap {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(10, 233, 188, 1) 100%);
  font: 100% Lato, Arial, Sans Serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }

  100% {
    margin-top: -100%;
  }
}

@-moz-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }

  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }

  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

  left: -5%;
  top: 5%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

  left: 5%;
  top: 80%;

  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  transform: scale(0.2);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

  left: 10%;
  top: 40%;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

  left: 20%;
  top: 0;

  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

  left: 30%;
  top: 50%;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

  left: 50%;
  top: 0;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

  left: 65%;
  top: 70%;

  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  transform: scale(0.2);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

  left: 80%;
  top: 10%;

  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

  left: 90%;
  top: 50%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

  left: 80%;
  top: 80%;

  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
}

/* OBJECTS */

.bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble:after {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}





/*--Garden Bistro--*/

.inner::before {
  content: '';
  position: absolute;
  top: -0%;
  left: 90px;
  width: 2px;
  height: 27%;
  background-color: #1f1f1f;
  animation: 1.8s linear slidein;
  z-index: 2;

}

.image-garden {
  width: 50%;
  animation: 1s linear slidein;
}

.thumb-image-figcaption {
  margin-left: 101px;
  margin-top: 5px;
}

@keyframes slidein {
  from {
    transform: scaley(0);
  }

  to {
    transform: scaley(1);
  }
}

.sqs-block-pannel {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sqs-block-pannel2 {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;
}


.image-garden-inner {
  display: flex;
  justify-content: center;
  gap: 40px;

}

.image-garden-visualisation {
  top: 0%;
  left: 0%;
  width: 25%;
  height: 95%;
  position: relative;
}

img.image-garden-visualisation:hover {
  vertical-align: unset;

}

/*Mentions Légales*/
.display-5 {
  font-family: 'Futura-pt', sans-serif;
  font-size: 1.5rem;

}

.display-7 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
}

@media screen and (min-device-width: 770px) and (max-device-width: 810px) {
  .carrou {
    width: 40%;
  }
}

@media (max-width: 769px) {
  .scrollTop {
    width: 38%;
    right: 32%;
  }


  #footer {
    display: flex;
    flex-direction: column;
  }

  .gallery-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .links {
    flex-direction: row;
    margin: 0 0 12px 23px;
  }

  .svg-icon-rounded {
    margin: 0px 10px;

  }

  .sqs-col-6,
  .sqs-col-4 {
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .carrou {
    width: 40%;
  }

  swiper-slide img {
    height: 306px;
  }

  .layout-style-center #topNav nav {
    display: none;
  }

  .logo-image .logo img {
    display: none;
  }

  h2.description {
    line-height: 1em;
  }

  .display-7 {
    font-size: 0.85em;
  }

  .sqs-block-pannel2 {
    flex-wrap: wrap;
    gap: 0px;

  }

  .thumb-image-figcaption {
    margin: 10px 20px;
  }

  .inner::before {
    left: 27px;
    height: 12%;
  }

  .image-garden-visualisation {
    width: 45%;
    padding: 5px;
  }

  .sqs-block-text {
    margin-bottom: 0px;
  }

  h4.email, h3.footer-font-style , p.email, a.email{
    display: flex;
    justify-content: center;
  }




}