h2.description {
    text-align: center;
    text-transform: none;
    line-height: 2em;
}

.gallery-row {
    display: flex;
    justify-content: center;
}

.thumb-image-freebies:hover {
    transform: scale(1.5);
}